{
  "branches": ["master", "next"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/github", {
      "assets": [
        {"path": "dist/**", "label": "VTEX distribution"},
      ]
    }],
    ["@semantic-release/npm", {
      "npmPublish": false,
    }],
  ]
}